@charset "ISO-8859-1";
body {
	background-image: url('../css/image1.jpg');
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

h1{
	color:#0000FF;
}

h2{
	color:#FF0000;
}

li::marker {
	display: none;
}